Package: dbbackup
Version: 1.1.2
Section: custom
Priority: optional
Architecture: all
Depends: python3
Installed-Size: 28
Maintainer: Disassembler
Description: Script for batch dumping MySQL/MariaDB and PostgreSQL databases
